@using System.Net.Http.Json
@inject IHttpClientFactory HttpClientFactory

@code {
    [Parameter] public bool Collapsed { get; set; }

    private List<PluginNavItemDto> _pluginNavItems = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("hip-bff");
            _pluginNavItems = await client.GetFromJsonAsync<List<PluginNavItemDto>>("/bff/plugins/nav") ?? new();
        }
        catch
        {
            _pluginNavItems = new();
        }
    }

    private sealed record PluginNavItemDto(string Label, string Route, string? Icon, int Order, string? Capability);
}

<ul class="main-menu">
    <li class="active">
        <NavLink href="/" Match="NavLinkMatch.All" class="active-link" @onclick:preventDefault="false">
            <i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span>
        </NavLink>
    </li>
    <li>
        <NavLink href="/settings" class="active-link" @onclick:preventDefault="false">
            <i class="fa fa-cog fa-fw"></i><span class="text">Settings</span>
        </NavLink>
    </li>
    <li>
        <NavLink href="/simulator" class="active-link" @onclick:preventDefault="false">
            <i class="fa fa-flask fa-fw"></i><span class="text">Simulator</span>
        </NavLink>
    </li>

    @foreach (var item in _pluginNavItems)
    {
        <li>
            <a href="@item.Route" class="active-link">
                <i class="fa @(string.IsNullOrWhiteSpace(item.Icon) ? "fa-plug" : item.Icon) fa-fw"></i><span class="text">@item.Label</span>
            </a>
        </li>
    }
</ul>
