@inherits LayoutComponentBase

<div id="wrapper" class="wrapper sidebar-fixed topnav-fixed dashboard">
    <div class="top-bar navbar-fixed-top">
        <div class="container-fluid">
            <div class="clearfix">
                <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                <div class="pull-left left logo">
                    <a href="/"><span class="king-logo-text">HIP Admin</span></a>
                    <h1 class="sr-only">HIP Admin Dashboard</h1>
                </div>
                <div class="pull-right right">
                    <div class="top-bar-right">
                        <div class="logged-user">
                            <div class="btn-group">
                                <a href="#" class="btn btn-link dropdown-toggle">
                                    <span class="name">Eric</span>
                                    <span class="caret"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <NavMenu />
    <div id="left-sidebar" class="left-sidebar">
        <div class="sidebar-scroll">
            <nav class="main-nav">
                <ul class="main-menu">
                    <li class="active"><a href="/"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span></a></li>
                    <li><a href="#"><i class="fa fa-id-card-o fa-fw"></i><span class="text">Identity</span></a></li>
                    <li><a href="#"><i class="fa fa-star-o fa-fw"></i><span class="text">Reputation</span></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o fa-fw"></i><span class="text">Messages</span></a></li>
                    <li><a href="#"><i class="fa fa-cog fa-fw"></i><span class="text">Settings</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    @Body
</div>