<nav>
    <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink href="#" @onclick:preventDefault="true">Identity</NavLink>
    <NavLink href="#" @onclick:preventDefault="true">Reputation</NavLink>
    <NavLink href="#" @onclick:preventDefault="true">Messages</NavLink>
    <NavLink href="#" @onclick:preventDefault="true">Settings</NavLink>
</nav>
