@code {
    [Parameter] public bool Collapsed { get; set; }
}

<ul class="main-menu">
    <li class="active">
        <NavLink href="/" Match="NavLinkMatch.All" class="active-link" @onclick:preventDefault="false">
            <i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span>
        </NavLink>
    </li>
    <li><a class="link-disabled"><i class="fa fa-id-card-o fa-fw"></i><span class="text">Identity</span></a></li>
    <li><a class="link-disabled"><i class="fa fa-star-o fa-fw"></i><span class="text">Reputation</span></a></li>
    <li><a class="link-disabled"><i class="fa fa-envelope-o fa-fw"></i><span class="text">Messages</span></a></li>
    <li><a class="link-disabled"><i class="fa fa-cog fa-fw"></i><span class="text">Settings</span></a></li>
</ul>