<div class="dropdown">
    <button class="btn @ButtonClass dropdown-toggle" data-bs-toggle="dropdown" type="button">@((MarkupString)Label)</button>
    <ul class="dropdown-menu dropdown-menu-end">
        @ChildContent
    </ul>
</div>

@code {
    [Parameter] public string Label { get; set; } = "Menu";
    [Parameter] public string ButtonClass { get; set; } = "btn-light";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
